In [1]:
import pandas as pd
import numpy as np

#### merged_feature_data is here : https://github.com/YZouzou/CS512-project/blob/main/cleaned_data/merged_feature_data.csv#df

In [8]:
# df = pd.read_excel("C:/Users/suuser/merged_feature_data.xlsx",index_col=[0])

path = 'cleaned_data/merged_feature_data.csv'
df = pd.read_csv(path, parse_dates=['date'])

In [9]:
df.head(2)

,date,year,month,consumer_credits,consumer_price_index,WTI_oil_price,brent_oil_price,current_account_deficit,exports_usd,exports_tl,...,unemployment_20-24,unemployment_25-29,unemployment_30-34,unemployment_35-39,unemployment_40-44,unemployment_45-49,unemployment_50-54,unemployment_55-59,unemployment_60-64,unemployment_65+
0,2005-01-01,2005,1,1.731919e+07,114.49,46.84,44.51,-1445,4997279724,6791013684,...,22.7,14.6,10.7,8.9,7.8,7.4,6.8,4.3,3.4,0.7
1,2005-02-01,2005,2,1.832184e+07,114.51,48.15,45.48,-2302,5651741252,7449079145,...,23.9,14.7,10.8,9.5,7.8,7.6,6.8,5.1,3.4,1.1

#### ExchangeRates is here: https://github.com/YZouzou/CS512-project/blob/main/data/Central_Bank/ExchangeRates.xlsx

In [10]:
# df_exchange_rate = pd.read_excel("C:/Users/suuser/Desktop/ExchangeRates.xlsx")

path = 'data/Central_Bank/ExchangeRates.xlsx'
df_exchange_rate = pd.read_excel(path)

In [12]:
df_exchange_rate.head(2)

     Tarih  TP DK USD A
0  2005-01     1.350042
1  2005-02     1.310155

In [14]:
df['ExchangeRate'] = df_exchange_rate['TP DK USD A']

In [15]:
df_copy = df.copy()

### Conversion from TL to USD

In [16]:
# Consumer credits are measured in 1000 TL
df_copy['consumer_credits'] = 1000 * df_copy['consumer_credits'] / df_copy['ExchangeRate']

In [17]:
# Money supply is measured in 1000 TL
df_copy['money_supply'] = df_copy['money_supply'] / df_copy['ExchangeRate']

In [18]:
df_copy['retail_sales'] = df_copy['retail_sales'] / df_copy['ExchangeRate']

In [19]:
# GDP is measured in 100 TL
df_copy['gdp'] = 1000 * df_copy['gdp']/df_copy['ExchangeRate']

### Dropping some columns and converting current_account_deficit  from Millions USD to USD

In [20]:
df_copy['current_account_deficit'] = df_copy['current_account_deficit'] * 1000000

In [21]:
df_copy.drop(['WTI_oil_price'], inplace = True,axis = 1)

In [22]:
df_copy.drop(['gold_price_cum'], inplace = True,axis = 1)

In [23]:
df_copy.drop(['unemployment_15-19','unemployment_20-24','unemployment_25-29','unemployment_35-39','unemployment_40-44','unemployment_45-49','unemployment_50-54','unemployment_55-59','unemployment_60-64','unemployment_65+'], inplace = True,axis = 1)

In [24]:
df_copy.drop(['interest_rates_mortgage','exports_tl','export_unit_value_index_tl','imports_tl','import_unit_value_index_tl'], inplace = True,axis = 1)

In [25]:
df_copy.head(2)

,date,year,month,consumer_credits,consumer_price_index,brent_oil_price,current_account_deficit,exports_usd,imports_usd,export_unit_value_index_usd,...,MIG_NDCOG,MIG_ING,MIG_DCOG,MIG_CAG,interest_rates_personal,money_supply,real_effective_echange_rates,retail_sales,unemployment_30-34,ExchangeRate
0,2005-01-01,2005,1,1.282863e+10,114.49,44.51,-1445000000,4997279724,7219679862,86.8,...,55.5,48.3,50.3,36.1,29.6850,1.992981e+07,107.61,1.379450e+06,10.7,1.350042
1,2005-02-01,2005,2,1.398448e+10,114.51,45.48,-2302000000,5651741252,8323736797,86.5,...,54.2,50.7,50.1,42.0,26.2175,2.151616e+07,109.93,5.414810e+05,10.8,1.310155

In [26]:
#Excluding 2009-01 last row
df_copy= df_copy.iloc[:-1]

In [27]:
#Excluding 2005-2008
df_copy = df_copy[48:]

In [37]:
df_copy.head(2)

,date,year,month,consumer_credits,consumer_price_index,brent_oil_price,current_account_deficit,exports_usd,imports_usd,export_unit_value_index_usd,...,MIG_NDCOG,MIG_ING,MIG_DCOG,MIG_CAG,interest_rates_personal,money_supply,real_effective_echange_rates,retail_sales,unemployment_30-34,ExchangeRate
48,2009-01-01,2009,1,5.074031e+10,160.90,43.44,-330000000,7884493524,9281137649,95.1,...,60.4,49.3,49.2,31.8,22.8580,5.106825e+07,95.56,3.945135e+07,13.8,1.589052
49,2009-02-01,2009,2,4.863385e+10,160.35,43.32,-150000000,8435115834,9074663754,90.9,...,56.2,47.7,52.6,34.7,21.4725,5.232834e+07,93.34,1.199247e+07,14.9,1.652360

In [38]:
df_copy.to_csv('processed_data/feature_data.csv', index=False)

In [29]:
df_features = df_copy[['consumer_credits', 'consumer_price_index',
       'brent_oil_price', 'current_account_deficit', 'exports_usd',
       'imports_usd', 'export_unit_value_index_usd', 'gdp', 'gold_price_lon',
       'import_unit_value_index_usd', 'B', 'C', 'MIG_NRG_X_E', 'MIG_NDCOG',
       'MIG_ING', 'MIG_DCOG', 'MIG_CAG', 'interest_rates_personal',
       'money_supply', 'real_effective_echange_rates', 'retail_sales',
       'unemployment_30-34']]

In [32]:
df_features

,consumer_credits,consumer_price_index,brent_oil_price,current_account_deficit,exports_usd,imports_usd,export_unit_value_index_usd,gdp,gold_price_lon,import_unit_value_index_usd,...,MIG_NRG_X_E,MIG_NDCOG,MIG_ING,MIG_DCOG,MIG_CAG,interest_rates_personal,money_supply,real_effective_echange_rates,retail_sales,unemployment_30-34
48,5.074031e+10,160.90,43.44,-330000000,7884493524,9281137649,95.10,1.540084e+11,870.15,92.40,...,82.4,60.4,49.3,49.2,31.8,22.8580,5.106825e+07,95.56,3.945135e+07,13.8
49,4.863385e+10,160.35,43.32,-150000000,8435115834,9074663754,90.90,1.384701e+11,947.38,90.60,...,73.1,56.2,47.7,52.6,34.7,21.4725,5.232834e+07,93.34,1.199247e+07,14.9
50,4.710121e+10,162.12,46.54,-1080000000,8155485081,10522038241,89.80,1.248889e+11,935.50,90.20,...,77.8,62.1,54.9,62.0,41.0,21.8000,5.154123e+07,91.39,2.469501e+07,14.5
51,5.054903e+10,162.15,50.18,-1384000000,7561696283,10120319396,91.70,1.389538e+11,894.33,89.60,...,75.1,61.9,57.3,62.4,43.0,19.0125,5.481556e+07,96.10,2.976991e+07,13.0
52,5.280357e+10,163.19,57.30,-1361000000,7346407528,10867698195,93.80,1.501058e+11,942.94,86.40,...,77.0,63.8,60.0,70.9,48.6,20.0160,5.771973e+07,97.79,9.979813e+06,11.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,7.051407e+10,367.66,72.53,2704000000,12331984010,14803525725,94.06,1.728699e+11,1202.88,92.41,...,126.1,99.4,98.4,97.3,95.4,28.8220,1.033303e+08,55.47,1.031588e+07,9.8
164,6.289481e+10,390.84,78.89,2818000000,14397835420,16326538057,93.69,1.628352e+11,1196.70,92.18,...,116.0,116.0,111.9,127.6,115.0,36.4075,8.773088e+07,53.04,6.334990e+06,10.4
165,6.732884e+10,401.27,81.03,3930000000,15676860082,16174148502,92.84,1.764037e+11,1221.31,93.38,...,111.6,128.6,113.3,116.5,125.2,38.7200,8.843063e+07,59.06,1.513423e+07,10.4
166,7.241899e+10,395.48,64.75,2408000000,15491509931,16163973421,92.46,1.917709e+11,1221.42,92.75,...,111.4,124.0,108.4,125.3,120.9,36.0980,9.121423e+07,63.56,2.816625e+07,11.4
167,7.248719e+10,393.88,57.36,-543000000,13810281310,16554303252,92.37,1.936147e+11,1253.95,92.07,...,117.6,121.3,105.0,116.6,137.2,33.5850,9.605435e+07,63.96,4.145840e+07,12.5

### Outlier Detection and Trimming

In [298]:
import pandas as pd

stats = df_features.describe()
mean = stats.loc['mean', :]
std = stats.loc['std', :]
lower_bound = mean - 2*std
upper_bound = mean + 2*std

In [299]:
columns = list(df_features.columns)

In [300]:
df_non_outliers = df_features.copy()

In [301]:
count_of_outliers = 0
for index,cl in enumerate(columns):
    for i in range(len(df_non_outliers)):
        if df_non_outliers.iloc[i][cl] >= upper_bound[index]:
            df_non_outliers.iloc[i][cl] = upper_bound[index]
            count_of_outliers += 1
        if df_non_outliers.iloc[i][cl] <= lower_bound[index]:
            df_non_outliers.iloc[i][cl] = lower_bound[index]
            count_of_outliers += 1

C:\Users\suuser\AppData\Local\Temp\ipykernel_6068\1512860943.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_non_outliers.iloc[i][cl] = lower_bound[index]
C:\Users\suuser\AppData\Local\Temp\ipykernel_6068\1512860943.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_non_outliers.iloc[i][cl] = upper_bound[index]

In [302]:
count_of_outliers

95

In [303]:
df_non_outliers

,consumer_credits,consumer_price_index,brent_oil_price,current_account_deficit,exports_usd,imports_usd,export_unit_value_index_usd,gdp,gold_price_lon,import_unit_value_index_usd,...,MIG_NRG_X_E,MIG_NDCOG,MIG_ING,MIG_DCOG,MIG_CAG,interest_rates_personal,money_supply,real_effective_echange_rates,retail_sales,unemployment_30-34
48,5.074031e+07,160.90,43.44,-330000000,7884493524,9281137649,95.10,1.540084e+08,870.15,92.40,...,82.4,60.4,49.3,49.2,31.8,22.8580,5.106825e+07,95.56,3.945135e+07,13.8
49,4.863385e+07,160.35,43.32,-150000000,8435115834,9074663754,90.90,1.384701e+08,947.38,90.60,...,73.1,56.2,47.7,52.6,34.7,21.4725,5.232834e+07,93.34,1.199247e+07,14.9
50,4.710121e+07,162.12,46.54,-1080000000,8155485081,10522038241,89.80,1.248889e+08,935.50,90.20,...,77.8,62.1,54.9,62.0,41.0,21.8000,5.154123e+07,91.39,2.469501e+07,14.5
51,5.054903e+07,162.15,50.18,-1384000000,7561696283,10120319396,91.70,1.389538e+08,894.33,89.60,...,75.1,61.9,57.3,62.4,43.0,19.0125,5.481556e+07,96.10,2.976991e+07,13.0
52,5.280357e+07,163.19,57.30,-1361000000,7346407528,10867698195,93.80,1.501058e+08,942.94,86.40,...,77.0,63.8,60.0,70.9,48.6,20.0160,5.771973e+07,97.79,9.979813e+06,11.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,7.051407e+07,367.66,72.53,2704000000,12331984010,14803525725,94.06,1.728699e+08,1202.88,92.41,...,126.1,99.4,98.4,97.3,95.4,28.8220,1.033303e+08,55.47,1.031588e+07,9.8
164,6.289481e+07,390.84,78.89,2818000000,14397835420,16326538057,93.69,1.628352e+08,1196.70,92.18,...,116.0,116.0,111.9,127.6,115.0,36.4075,8.773088e+07,53.04,6.334990e+06,10.4
165,6.732884e+07,401.27,81.03,3930000000,15676860082,16174148502,92.84,1.764037e+08,1221.31,93.38,...,111.6,128.6,113.3,116.5,125.2,38.7200,8.843063e+07,59.06,1.513423e+07,10.4
166,7.241899e+07,395.48,64.75,2408000000,15491509931,16163973421,92.46,1.917709e+08,1221.42,92.75,...,111.4,124.0,108.4,125.3,120.9,36.0980,9.121423e+07,63.56,2.816625e+07,11.4
167,7.248719e+07,393.88,57.36,-543000000,13810281310,16554303252,92.37,1.936147e+08,1253.95,92.07,...,117.6,121.3,105.0,116.6,137.2,33.5850,9.605435e+07,63.96,4.145840e+07,12.5

### Scaling

In [304]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df_non_outliers)
scaled_df = scaler.transform(df_non_outliers)

In [305]:
scaled_df.shape

(120, 22)

In [306]:
df_non_outliers_scaled = pd.DataFrame(scaled_df)

In [307]:
#Converting columns names from integer values to feature names to be consistent
df_non_outliers_scaled.columns = df_non_outliers.columns

In [308]:
df_non_outliers_scaled

,consumer_credits,consumer_price_index,brent_oil_price,current_account_deficit,exports_usd,imports_usd,export_unit_value_index_usd,gdp,gold_price_lon,import_unit_value_index_usd,...,MIG_NRG_X_E,MIG_NDCOG,MIG_ING,MIG_DCOG,MIG_CAG,interest_rates_personal,money_supply,real_effective_echange_rates,retail_sales,unemployment_30-34
0,-2.203284,-1.339231,-1.353997,1.221772,-2.141114,-2.739417,-0.828772,-2.096867,-2.092608,-0.588712,...,-1.227747,-1.759637,-2.323153,-2.636450,-2.043352,1.249452,-2.579183,0.873110,0.996852,2.718712
1,-2.316329,-1.348308,-1.358531,1.298369,-1.845113,-2.804266,-1.415554,-2.695456,-1.720218,-0.750302,...,-1.983658,-1.996549,-2.412643,-2.433604,-1.933180,0.944193,-2.507623,0.670596,-0.522569,3.432172
2,-2.398580,-1.319099,-1.236879,0.902618,-1.995435,-2.349681,-1.569235,-3.218655,-1.777501,-0.786211,...,-1.601638,-1.663744,-2.009938,-1.872795,-1.693839,1.016349,-2.552323,0.492713,0.180319,3.172732
3,-2.213549,-1.318604,-1.099359,0.773254,-2.314641,-2.475851,-1.303786,-2.676823,-1.976016,-0.840074,...,-1.821097,-1.675025,-1.875703,-1.848930,-1.617858,0.402196,-2.366376,0.922369,0.461135,2.199833
4,-2.092557,-1.301442,-0.830364,0.783041,-2.430375,-2.241118,-1.010395,-2.247210,-1.741627,-1.127346,...,-1.666663,-1.567851,-1.724688,-1.341816,-1.405111,0.623291,-2.201450,1.076535,-0.633938,1.162074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,-1.142105,2.072720,-0.254972,2.512856,0.249743,-1.004973,-0.974070,-1.370257,-0.488242,-0.587814,...,2.324225,0.440262,0.423074,0.233223,0.372845,2.563463,0.388743,-2.783985,-0.615342,0.124315
116,-1.551001,2.455236,-0.014690,2.561368,1.360291,-0.526633,-1.025763,-1.756830,-0.518041,-0.608462,...,1.503289,1.376629,1.178146,2.040938,1.117460,4.234730,-0.497138,-3.005654,-0.835622,0.513475
117,-1.313044,2.627352,0.066159,3.034567,2.047862,-0.574494,-1.144516,-1.234123,-0.399376,-0.500735,...,1.145653,2.087365,1.256450,1.378706,1.504963,4.744229,-0.457400,-2.456497,-0.348721,0.513475
118,-1.039876,2.531806,-0.548902,2.386897,1.948223,-0.577690,-1.197606,-0.642122,-0.398846,-0.557292,...,1.129397,1.827890,0.982387,1.903719,1.341604,4.166540,-0.299321,-2.045998,0.372397,1.162074
119,-1.036216,2.505402,-0.828097,1.131132,1.044437,-0.455097,-1.210180,-0.571092,-0.241992,-0.618337,...,1.633338,1.675590,0.792220,1.384672,1.960850,3.612866,-0.024454,-2.009509,1.107910,1.875533

## Forming Y values

#### merged_y_data is here : https://github.com/YZouzou/CS512-project/blob/main/cleaned_data/merged_y_data.csv

In [46]:
# df_Y = pd.read_excel("C:/Users/suuser/Yvariables.xlsx",index_col=[0])

path = 'cleaned_data/merged_y_data.csv'
df_Y = pd.read_csv(path, parse_dates=['date'])

In [47]:
df_Y.head()

        date  year  month ticker              firm     marketcap
0 2009-01-01  2009      1  ALYAG          ALTINYAÄž  1.077940e+04
1 2009-01-01  2009      1  AEFES      ANADOLU EFES  4.995000e+06
2 2009-01-01  2009      1  BANVT           BANVÄ°T   1.370000e+05
3 2009-01-01  2009      1  CCOLA  COCA COLA Ä°Ã‡ECEK  1.958655e+06
4 2009-01-01  2009      1   ERSU         ERSU GIDA  1.116000e+04

In [50]:
# Converting market caps to USD
# Market caps are measured in 1000 TL
df_Y = df_Y.merge(df_copy[['date', 'ExchangeRate']], on='date')

df_Y['marketcap'] = 1000 * df_Y['marketcap'] / df_Y['ExchangeRate']
df_Y = df_Y.drop(columns=['ExchangeRate'])

In [53]:
# Saving processed Y data
df_Y.to_csv('processed_data/target_data.csv', index=False)

In [54]:
one_hot = pd.get_dummies(df_Y['ticker'])
df_Y = df_Y.drop('ticker',axis = 1)
df_Y = df_Y.join(one_hot)

In [55]:
df_Y.head(2)

,date,year,month,firm,marketcap,ADANA,ADBGR,ADEL,ADNAC,AEFES,...,VAKBN,VAKFN,VAKKO,VESBE,VESTL,VKGYO,VKING,YKBNK,YKGYO,ZOREN
0,2009-01-01,2009,1,ALTINYAÄž,6.783538e+06,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2009-01-01,2009,1,ANADOLU EFES,3.143383e+09,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

## Lag effect conversion and Aligning Dates

In [312]:
#Taking dates between 2009-2018
df_Y_1 = df_Y[:-2580]
listedate = list(df_Y_1['date'])

In [313]:
#Shifting 6 months for lag effect
df_Y_2 = df_Y[1290:-1290]

In [314]:
df_Y_2

,date,year,month,firm,marketcap,ADANA,ADBGR,ADEL,ADNAC,AEFES,...,VAKBN,VAKFN,VAKKO,VESBE,VESTL,VKGYO,VKING,YKBNK,YKGYO,ZOREN
1290,2009-07-01,2009,7,ALTINYAÄž,1.686008e+04,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1291,2009-07-01,2009,7,ANADOLU EFES,7.110000e+06,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1292,2009-07-01,2009,7,BANVÄ°T,2.960698e+05,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1293,2009-07-01,2009,7,COCA COLA Ä°Ã‡ECEK,2.238463e+06,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1294,2009-07-01,2009,7,ERSU GIDA,2.016000e+04,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27085,2019-06-01,2019,6,LINK BILGISAYAR,5.219500e+04,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27086,2019-06-01,2019,6,LOGO YAZILIM,1.042500e+06,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27087,2019-06-01,2019,6,NETAS TELEKOM.,4.475671e+05,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27088,2019-06-01,2019,6,PLASTIKKART,6.620250e+04,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27089,2019-06-01,2019,6,ASELSAN,2.052000e+07,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [315]:
# Making date columns values starting from 2009-01 ending with 2018-01
df_Y_2['date'] = listedate

C:\Users\suuser\AppData\Local\Temp\ipykernel_6068\3795674812.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Y_2['date'] = listedate

In [316]:
df_Y_2

,date,year,month,firm,marketcap,ADANA,ADBGR,ADEL,ADNAC,AEFES,...,VAKBN,VAKFN,VAKKO,VESBE,VESTL,VKGYO,VKING,YKBNK,YKGYO,ZOREN
1290,2009-01-01,2009,7,ALTINYAÄž,1.686008e+04,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1291,2009-01-01,2009,7,ANADOLU EFES,7.110000e+06,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1292,2009-01-01,2009,7,BANVÄ°T,2.960698e+05,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1293,2009-01-01,2009,7,COCA COLA Ä°Ã‡ECEK,2.238463e+06,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1294,2009-01-01,2009,7,ERSU GIDA,2.016000e+04,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27085,2018-12-01,2019,6,LINK BILGISAYAR,5.219500e+04,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27086,2018-12-01,2019,6,LOGO YAZILIM,1.042500e+06,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27087,2018-12-01,2019,6,NETAS TELEKOM.,4.475671e+05,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27088,2018-12-01,2019,6,PLASTIKKART,6.620250e+04,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27089,2018-12-01,2019,6,ASELSAN,2.052000e+07,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [317]:
dates = []
for i in range(len(df_Y_2)):
    if df_Y_2.iloc[i]['date'] not in dates:
        dates.append(df_Y_2.iloc[i]['date'])

In [318]:
df_non_outliers_scaled['date'] = dates

In [319]:
final_df = dfYY.merge(df_non_outliers_scaled, on='date', how='left')

In [320]:
final_df.drop(['date','year','month','firm'],axis = 1, inplace=True)

In [321]:
final_df

,marketcap,ADANA,ADBGR,ADEL,ADNAC,AEFES,AFYON,AGYO,AKBNK,AKCNS,...,MIG_NRG_X_E,MIG_NDCOG,MIG_ING,MIG_DCOG,MIG_CAG,interest_rates_personal,money_supply,real_effective_echange_rates,retail_sales,unemployment_30-34
0,1.686008e+04,0,0,0,0,0,0,0,0,0,...,-1.227747,-1.759637,-2.323153,-2.636450,-2.043352,1.249452,-2.579183,0.873110,0.996852,2.718712
1,7.110000e+06,0,0,0,0,1,0,0,0,0,...,-1.227747,-1.759637,-2.323153,-2.636450,-2.043352,1.249452,-2.579183,0.873110,0.996852,2.718712
2,2.960698e+05,0,0,0,0,0,0,0,0,0,...,-1.227747,-1.759637,-2.323153,-2.636450,-2.043352,1.249452,-2.579183,0.873110,0.996852,2.718712
3,2.238463e+06,0,0,0,0,0,0,0,0,0,...,-1.227747,-1.759637,-2.323153,-2.636450,-2.043352,1.249452,-2.579183,0.873110,0.996852,2.718712
4,2.016000e+04,0,0,0,0,0,0,0,0,0,...,-1.227747,-1.759637,-2.323153,-2.636450,-2.043352,1.249452,-2.579183,0.873110,0.996852,2.718712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25795,5.219500e+04,0,0,0,0,0,0,0,0,0,...,1.633338,1.675590,0.792220,1.384672,1.960850,3.612866,-0.024454,-2.009509,1.107910,1.875533
25796,1.042500e+06,0,0,0,0,0,0,0,0,0,...,1.633338,1.675590,0.792220,1.384672,1.960850,3.612866,-0.024454,-2.009509,1.107910,1.875533
25797,4.475671e+05,0,0,0,0,0,0,0,0,0,...,1.633338,1.675590,0.792220,1.384672,1.960850,3.612866,-0.024454,-2.009509,1.107910,1.875533
25798,6.620250e+04,0,0,0,0,0,0,0,0,0,...,1.633338,1.675590,0.792220,1.384672,1.960850,3.612866,-0.024454,-2.009509,1.107910,1.875533
25799,2.052000e+07,0,0,0,0,0,0,0,0,0,...,1.633338,1.675590,0.792220,1.384672,1.960850,3.612866,-0.024454,-2.009509,1.107910,1.875533

## Model

In [322]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
from sklearn.model_selection import train_test_split

X = final_df.drop(columns='marketcap')
y = final_df['marketcap']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [323]:
regressor.fit(X_train, y_train)

LinearRegression()

In [324]:
y_pred = regressor.predict(X_test)

In [325]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
print(mse)

2965800415681.8545

In [326]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
r2

0.9028061816273911

In [327]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
mse

2965800415681.8545

In [328]:
from math import sqrt

rmse = sqrt(mse)
rmse

1722149.9399535032

In [329]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_pred)
mae

784047.5780643439

In [330]:
cdf = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficients'])
print(cdf)

                              Coefficients
ADANA                        -1.743238e+06
ADBGR                        -1.887961e+06
ADEL                         -1.843468e+06
ADNAC                        -2.077288e+06
AEFES                         1.020793e+07
...                                    ...
interest_rates_personal      -1.531761e+05
money_supply                  3.006510e+05
real_effective_echange_rates  4.508123e+03
retail_sales                 -9.343393e+03
unemployment_30-34            5.953997e+04

[237 rows x 1 columns]

In [331]:
cdf[:-22:-1]

                               Coefficients
unemployment_30-34             59539.972110
retail_sales                   -9343.393274
real_effective_echange_rates    4508.122897
money_supply                  300650.954737
interest_rates_personal      -153176.101994
MIG_CAG                       116961.466362
MIG_DCOG                     -109680.206074
MIG_ING                       167828.921039
MIG_NDCOG                      53244.818279
MIG_NRG_X_E                    74639.587379
C                            -311451.781476
B                             -61391.760773
import_unit_value_index_usd   130095.113162
gold_price_lon                 83560.934697
gdp                            35853.295896
export_unit_value_index_usd  -422041.745182
imports_usd                   265046.486115
exports_usd                    39845.721593
current_account_deficit       188257.300263
brent_oil_price               134758.540026
consumer_price_index          241871.052231

In [332]:
cdf['Coefficients'].sort_values(ascending=False)

GARAN    3.106540e+07
AKBNK    2.897648e+07
KCHOL    2.502621e+07
TCELL    2.253687e+07
ISCTR    2.183680e+07
             ...
MERKO   -2.187878e+06
ATLAS   -2.196453e+06
OYAYO   -2.204303e+06
METUR   -2.204988e+06
EMKEL   -2.217796e+06
Name: Coefficients, Length: 237, dtype: float64